/* App.css */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Use the full height of the viewport */
}

.App-header {
  background-color: #282c34; /* Dark blue background */
  padding: 20px;
  color: white;
  font-size: 24px;
}

main {
  flex: 1; /* Take up the remaining space */
  padding: 20px;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
}
